<template>
  <div :style="`height: ${height}px;`">
    <client-only>
      <v-parallax
        :src="require('~/assets/img/background2.jpg')"
        alt="Hintergrund-Muster"
        class="pa-5"
        :height="height"
      >
        <v-container>
          <v-row>
            <v-col cols="12" sm="8" offset-sm="2">
              <v-card ref="card" rounded="xl">
                <v-card-title>
                  <h2 class="text-h4">
                    Unter&shy;stützungs&shy;unter&shy;schriften-Formu&shy;lare anfordern:
                  </h2>
                </v-card-title>
                <v-card-text class="black--text">
                  <v-form @submit.prevent="submit()">
                    <v-text-field
                      v-model="name"
                      label="Vor- und Nachname"
                      color="secondary"
                      :error="nameMessages.length > 0"
                      :messages="nameMessages"
                    />
                    <v-text-field
                      v-model="address1"
                      label="Straße, Hausnummer"
                      color="secondary"
                      :error="address1Messages.length > 0"
                      :messages="address1Messages"
                    />
                    <v-text-field
                      v-model="address2"
                      label="Postleitzahl, Ort"
                      color="secondary"
                      :error="address2Messages.length > 0"
                      :messages="address2Messages"
                    />
                    <v-text-field
                      v-model="amount"
                      type="number"
                      min="0"
                      step="1"
                      label="Anzahl der Formulare"
                      persistent-hint
                      hint="Die Formulare werden immer paarweise verschickt."
                      color="secondary"
                      :error="amountMessages.length > 0"
                      :messages="amountMessages"
                    />
                    <v-textarea
                      v-model="message"
                      label="Nachricht (optional)"
                      rows="5"
                      no-resize
                      color="secondary"
                      :error="messageMessages.length > 0"
                      :messages="messageMessages"
                      class="mt-4"
                    />
                    <v-checkbox
                      v-model="privacy"
                      color="secondary"
                      :error="privacyMessages.length > 0"
                      :messages="privacyMessages"
                    >
                      <template #label>
                        <span>
                          Ich bin damit einverstanden, dass meine Angaben für eine einmalige Postsendung verwendet
                          werden und willige in die
                          <v-tooltip bottom>
                            <template #activator="{ on }">
                              <a
                                href="/datenschutz"
                                target="_blank"
                                class="text--secondary"
                                @click.stop
                                v-on="on"
                              >Datenschutzerklärung</a>
                            </template>
                            <template #default>
                              Öffnet sich in einem neuen Fenster
                            </template>
                          </v-tooltip>
                          ein.
                        </span>
                      </template>
                    </v-checkbox>
                    <!-- honeypot -->
                    <div
                      style="position: absolute; bottom: 0; left: 0; width: 0; height: 0; opacity: 0;"
                    >
                      <input id="name2" v-model="name2" type="text" name="name2">
                      <label for="name2">Name</label>
                    </div>
                    <div class="text-center mt-4">
                      <v-btn type="submit" color="secondary">
                        Absenden
                      </v-btn>
                    </div>
                    <v-divider class="my-5" />
                    <div class="text-center">
                      Gerne kannst du auch einfach eine E-Mail schreiben an
                      <a
                        href="mailto:info@piratenpartei-deggendorf.de"
                        class="secondary--text font-weight-bold"
                      >info@piratenpartei-deggendorf.de</a>.
                    </div>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-parallax>
    </client-only>
    <v-snackbar v-model="snackbar" :color="snackbarColor">
      {{ snackbarText }}
      <template #action="{ attrs }">
        <v-btn icon v-bind="attrs" @click="snackbar = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
const INITIAL_HEIGHT = 1200

export default {
  props: {
    windowHeight: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      height: INITIAL_HEIGHT,
      name: '',
      nameMessages: [],
      name2: '',
      address1: '',
      address1Messages: [],
      address2: '',
      address2Messages: [],
      amount: '1',
      amountMessages: [],
      message: '',
      messageMessages: [],
      privacy: false,
      privacyMessages: [],
      snackbar: false,
      snackbarColor: '',
      snackbarText: '',
      loading: false
    }
  },
  watch: {
    windowHeight () {
      this.adjustHeight()
    },
    name () {
      this.validateName()
    },
    address1 () {
      this.validateAddress1()
    },
    address2 () {
      this.validateAddress2()
    },
    amount () {
      this.validateAmount()
      this.validateMessage()
    },
    message () {
      this.validateAmount()
      this.validateMessage()
    },
    privacy () {
      this.validatePrivacy()
    }
  },
  mounted () {
    this.adjustHeight()
  },
  methods: {
    adjustHeight (i = 0) {
      if (this.$refs.card) {
        this.height = Math.min(INITIAL_HEIGHT, this.$refs.card.$el.clientHeight + 100)
      } else if (i < 10) {
        this.$nextTick(() => this.adjustHeight(i + 1))
      }
    },
    validateName () {
      this.nameMessages = this.name.length ? [] : ['Bitte gib deinen Namen ein.']
      return !this.nameMessages.length
    },
    validateAddress1 () {
      this.address1Messages = this.address1.length ? [] : ['Bitte gib deine Straße und Hausnummer ein.']
      return !this.address1Messages.length
    },
    validateAddress2 () {
      this.address2Messages = this.address2.length ? [] : ['Bitte gib deine Postleitzahl und deinen Ort ein.']
      return !this.address2Messages.length
    },
    validateAmount () {
      this.amountMessages = (parseInt(this.amount) || this.message.length)
        ? ((parseInt(this.amount) < 10 || this.message.length)
          // @formatter:off
            ? []
            : ['Bitte schreibe uns kurz, was du mit den Formularen planst.'])
          // @formatter:on
        : ['Bitte gib entweder an wie viele Formulare wir dir senden dürfen oder gib eine Nachricht ein.']
      return !this.amountMessages.length
    },
    validateMessage () {
      this.messageMessages = (!this.message || this.message.length <= 5000)
        ? []
        : ['Die Nachricht darf maximal 5000 Zeichen lang sein. Aktuell hat sie aber ' + this.message.length + ' Zeichen.']
      return !this.messageMessages.length
    },
    validatePrivacy () {
      this.privacyMessages = this.privacy
        ? []
        : ['Bitte bestätige, dass du in unsere Datenschutzerklärung einwilligst.']
      return !this.privacyMessages.length
    },
    validate () {
      const validateName = this.validateName()
      const validateAddress1 = this.validateAddress1()
      const validateAddress2 = this.validateAddress2()
      const validateAmount = this.validateAmount()
      const validateMessage = this.validateMessage()
      const validatePrivacy = this.validatePrivacy()
      return validateName && validateAddress1 && validateAddress2 && validateAmount && validateMessage &&
        validatePrivacy
    },
    async submit () {
      if (this.validate()) {
        this.loading = true
        let success
        try {
          const result = await this.$http.post('api/contact-submit', {
            name: this.name,
            name2: this.name2,
            address1: this.address1,
            address2: this.address2,
            amount: this.amount ? this.amount.toString() : '0',
            message: this.message || ''
          })
          success = result && result.ok
        } catch (ex) {
          success = false
        }
        if (success) {
          this.snackbarColor = 'success darken-4'
          this.snackbarText = 'Deine Nachricht wurde gesendet und wird schnellstmöglich bearbeitet.'

          this.name = ''
          this.address1 = ''
          this.address2 = ''
          this.amount = '1'
          this.message = ''
          this.privacy = false
          this.$nextTick(() => {
            this.loading = false
            this.nameMessages = []
            this.address1Messages = []
            this.address2Messages = []
            this.amountMessages = []
            this.messageMessages = []
            this.privacyMessages = []
          })
        } else {
          this.snackbarColor = 'error'
          this.snackbarText = 'Leider ist ein Fehler aufgetreten. Bitte wende dich per E-Mail an uns.'
        }
        this.snackbar = true
      }
    }
  }
}
</script>
