<template>
  <v-footer dark>
    <v-container>
      <p class="text-caption text-center">
        Josef Reichardt in den sozialen Netzwerken:
      </p>
      <p class="text-center">
        <v-btn fab class="mr-5" href="https://twitter.com/_Cpt_S_" target="_blank" aria-label="Twitter">
          <v-icon>mdi-twitter</v-icon>
        </v-btn>
        <v-btn fab class="mr-5" href="https://www.instagram.com/josef_reichardt" target="_blank" aria-label="Instagram">
          <v-icon>mdi-instagram</v-icon>
        </v-btn>
        <v-btn fab href="https://www.facebook.com/josef.reichardt" target="_blank" aria-label="Facebook">
          <v-icon>mdi-facebook</v-icon>
        </v-btn>
      </p>
      <v-divider class="my-5" />
      <p class="text-center">
        <span><nuxt-link to="/impressum" class="text-caption secondary--text">Impressum</nuxt-link></span>
        <span class="mx-2" />
        <span><nuxt-link to="/datenschutz" class="text-caption secondary--text">Datenschutzerklärung</nuxt-link></span>
      </p>
      <p class="text-caption text-center">
        Erstellt mit
        <span><v-icon small>mdi-heart</v-icon>,</span>
        <a
          href="https://gitlab.com/piratenpartei/piratenpartei-deggendorf"
          target="_blank"
          class="grey--text"
        >GitLab</a>,
        <a href="https://nuxtjs.org/" target="_blank" class="grey--text">Nuxt.js</a>,
        <a href="https://vuejs.org/" target="_blank" class="grey--text">Vue.js</a>,
        <a href="https://vuetifyjs.com/" target="_blank" class="grey--text">Vuetify</a>,
        <a href="https://github.com/web-fonts/dejavu-sans" target="_blank" class="grey--text">DejaVu Sans</a>,
        <a href="https://materialdesignicons.com/" target="_blank" class="grey--text">Material Design Icons</a>
        und einigen anderen Tools und Bibliotheken. Gehostet bei
        <a href="https://www.biohost.de/" target="_blank" class="grey--text">BIOHOST Öko Webhosting</a>.
      </p>
    </v-container>
  </v-footer>
</template>
<script>
export default {}
</script>
<style scoped>
a.grey--text {
  text-decoration: none;
}
</style>
