<template>
  <div :style="`height: ${height}px;`">
    <client-only>
      <v-parallax
        :src="require('~/assets/img/background.jpg')"
        alt="Hintergrund-Muster"
        :height="height"
      >
        <v-container :style="`padding-top: ${logoHeight}px`">
          <div
            class="text-center"
            style="position: absolute; top: 0; left: 0; right: 0;"
          >
            <img
              src="~/assets/img/logo.svg"
              alt="Piratenpartei Deutschland"
              :style="`height: ${logoHeight}px;`"
            >
          </div>
          <v-row align-sm="center" align="start">
            <v-col cols="12" sm="5" class="text-center text-sm-right" :style="smAndUp ? '' : 'align-self: end;'">
              <v-avatar :size="avatarSize">
                <v-img :src="require('~/assets/img/josef-reichardt-kandidatenfoto-web.jpg')" alt="Josef Reichardt" />
              </v-avatar>
            </v-col>
            <v-col cols="12" sm="7" class="text-center text-sm-left black--text">
              <h1 class="text-subtitle-1" style="font-size: 1.5rem !important;">
                Direktkandidat der Piratenpartei für den Wahlkreis Deggendorf:
              </h1>
              <h2 style="font-size: 3rem !important; line-height: 1em;">
                Josef Reichardt
                <span class="d-block d-sm-inline" style="line-height: 3.3rem;">
                  <v-btn outlined icon color="black" @click="$vuetify.goTo(height)">
                    <v-icon>mdi-chevron-down</v-icon>
                  </v-btn>
                </span>
              </h2>
            </v-col>
          </v-row>
        </v-container>
      </v-parallax>
    </client-only>
  </div>
</template>
<script>
export default {
  props: {
    windowHeight: {
      type: Number,
      required: true
    },
    windowWidth: {
      type: Number,
      required: true
    }
  },
  computed: {
    smAndUp () {
      return this.$vuetify && this.$vuetify.breakpoint && this.$vuetify.breakpoint.smAndUp
    },
    height () {
      return Math.round(this.windowHeight * 0.8)
    },
    avatarSize () {
      return this.smAndUp
        ? Math.round(Math.min(this.windowWidth * 0.3, this.height * 0.6))
        : (this.windowWidth > this.height ? Math.round(this.height * 0.7) : Math.round(this.height * 0.3))
    },
    logoHeight () {
      return this.smAndUp
        ? Math.round(Math.min((this.height - this.avatarSize) * 0.7, this.avatarSize * 0.5, this.windowWidth * 0.25))
        : Math.round(Math.min(this.avatarSize * 0.5, this.windowWidth * 0.25))
    }
  }
}
</script>
