<template>
  <v-container fluid class="neumorphism-wrapper">
    <v-container>
      <v-row>
        <v-col cols="12" sm="8" offset-sm="2" class="mb-5">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="purple" x-large>
                  mdi-pencil-outline
                </v-icon>
                Jetzt Un&shy;ter&shy;stüt&shy;zen!
              </h2>
            </v-card-title>
            <v-card-text class="black--text">
              <p>
                Um in Bayern an der Bundes&shy;tagswahl 2021 teilnehmen zu können, müssen Parteien, die derzeit nicht im
                Landtag oder Bundestag vertreten sind, 2.000 Un&shy;ter&shy;stüt&shy;zungs&shy;un&shy;ter&shy;schrif&shy;ten
                sammeln. Die Unter&shy;stütz&shy;ung wahl&shy;be&shy;recht&shy;ig&shy;ter Bür&shy;ger:innen ist
                nötig, um als Partei auf dem Wahlzettel gelistet zu werden. Dabei geht es noch gar nicht darum, wen
                Du später wählen möch&shy;test, es geht ledig&shy;lich um die Zu&shy;lassung zur Wahl. Und dafür
                brauchen wir Deine Unter&shy;schrift.
              </p>

              <p>
                Gerade in Zeiten der Corona-Pandemie ist es für uns natürlich unheimlich schwer, diese Unter&shy;schriften
                zu sam&shy;meln, ohne Dich und uns un&shy;nötigen Risi&shy;ken aus&shy;zu&shy;setzen. Deshalb haben wir
                diesen kontakt&shy;losen Weg gewählt und hoffen auf Deine Unter&shy;stützung.
              </p>

              <p>
                <strong>
                  Jede ein&shy;zelne Un&shy;ter&shy;stütz&shy;ungs&shy;unter&shy;schrift ist für uns wichtig.
                </strong><br>
                Du kannst die Formu&shy;lare selbst aus&shy;drucken oder wir senden dir auch gerne Formu&shy;lare
                inklusive Rück&shy;sende&shy;um&shy;schlag zu. Fülle dazu einfach das Formu&shy;lar unten aus.
              </p>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="4" offset-sm="2" class="mb-5">
          <v-card rounded="xl" class="neumorphism">
            <v-card-text>
              <h3>Diese Formulare sind für dich relevant:</h3>
              <v-switch v-model="over18" label="Bist du über 18 Jahre alt?" color="secondary" hide-details />
              <v-expand-transition>
                <div v-show="over18">
                  <v-switch
                    v-model="deg"
                    label="Bist du Wahlkreis Deggendorf wahlberechtigt?"
                    color="secondary"
                    hide-details
                  />
                  <p class="text-caption mt-3">
                    Zum Wahl&shy;kreis Deggen&shy;dorf gehören der Land&shy;kreis Deggen&shy;dorf, der Land&shy;kreis
                    Frey&shy;ung-Grafen&shy;au und vom Land&shy;kreis Passau die Gemein&shy;den Aicha vorm Wald, Eging
                    am See, Fürsten&shy;stein und Hof&shy;kirchen.
                  </p>
                </div>
              </v-expand-transition>
              <v-expand-transition>
                <v-switch
                  v-show="!deg"
                  v-model="bayern"
                  label="Bist du in Bayern wahlberechtigt?"
                  color="secondary"
                  hide-details
                />
              </v-expand-transition>
              <v-alert color="white" icon="mdi-chevron-right-circle-outline" class="mt-5">
                <p class="pt-1 mb-0 text-left">
                  <template v-if="!over18">
                    Gib die Formu&shy;lare je&shy;man&shy;den, der ent&shy;sprech&shy;end der oben ge&shy;nann&shy;ten
                    Kri&shy;terien be&shy;recht&shy;igt ist, diese aus&shy;zu&shy;füllen. Gerne kannst du auch noch
                    weitere Formu&shy;lare an&shy;for&shy;dern, wenn du diese ver&shy;teilen möch&shy;test. Außer&shy;dem
                    kannst du unser&shy;en Wahl&shy;kampf auch on&shy;line, zum Bei&shy;spiel in den ver&shy;schieden&shy;en
                    sozialen Netz&shy;werken unter&shy;stützen.
                  </template>
                  <template v-else-if="deg">
                    Bitte fülle <strong>bei&shy;de Formu&shy;lare</strong> aus.
                  </template>
                  <template v-else-if="bayern">
                    Bitte fülle das Formu&shy;lar für die <strong>Landes&shy;liste</strong> aus. Infor&shy;miere dich
                    außer&shy;dem auf
                    <a
                      href="https://wiki.piratenpartei.de/Bundestagswahl_2021/Landesliste_BY"
                      target="_blank"
                      class="d-block d-sm-inline"
                      style="word-break: break-word;"
                    >wiki.piratenpartei.de/Bundestagswahl_2021/Landesliste_BY</a> über den Kandi&shy;daten in deinem
                    Wahl&shy;kreis.
                  </template>
                  <template v-else>
                    Infor&shy;miere dich auf
                    <a
                      href="https://wiki.piratenpartei.de/Bundestagswahl_2021"
                      target="_blank"
                      class="d-block d-sm-inline"
                      style="word-break: break-word;"
                    >wiki.piratenpartei.de/Bundestagswahl_2021</a> über deine Landes&shy;liste und deinen Wahl&shy;kreis.
                  </template>
                </p>
              </v-alert>
              <v-divider class="my-5" />
              <h3 class="mb-5">
                Formu&shy;lare herunter&shy;laden:
              </h3>
              <v-btn
                href="https://wiki.piratenpartei.de/wiki/images/f/f0/Unterst%C3%BCtzerUnterschriftenformular_BY.pdf"
                target="_blank"
                color="secondary"
                block
                x-large
                class="mb-5"
              >
                <v-icon left>
                  mdi-download
                </v-icon>
                Landesliste
              </v-btn>
              <v-btn
                href="https://wiki.piratenpartei.de/wiki/images/a/a1/BTW21_UU_Josef_Reichardt.pdf"
                target="_blank"
                color="secondary"
                block
                x-large
              >
                <v-icon left>
                  mdi-download
                </v-icon>
                Direktkandidaten
              </v-btn>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4" class="mb-5">
          <v-card rounded="xl" class="neumorphism">
            <v-card-text>
              <p>
                <strong>Hinweis:</strong>
                Bitte beim Aus&shy;drucken da&shy;rauf ach&shy;ten, dass Vorder- und Rück&shy;seite be&shy;druckt wer&shy;den.
                Auf der Rück&shy;seite des Formu&shy;lars be&shy;finden sich Infor&shy;mationen zum Daten&shy;schutz,
                ohne
                die das Formu&shy;lar nicht gültig ist.<br>
                Aus&shy;füllen musst du je&shy;weils nur die&shy;sen Be&shy;reich:
              </p>
              <nuxt-link :to="{ query: { dialog: 'ausfuellanleitung' } }">
                <v-img
                  :src="require('~/assets/img/btw21-uu-josef-reichardt_ausfuellanleitung_thumb.jpg')"
                  alt="Ausfüllanleitung"
                  class="elevation-3"
                />
              </nuxt-link>
              <v-dialog
                v-model="imageDialog"
                fullscreen
              >
                <v-card tile>
                  <v-toolbar dark>
                    <h3 class="text-h5">
                      Hinweise zum Ausfüllen
                    </h3>
                    <v-spacer />
                    <v-btn icon nuxt :to="{ query: { dialog: undefined } }">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-card-text class="pa-5 d-flex align-center justify-center">
                    <div style="max-width: 100%;">
                      <v-img
                        :src="require('~/assets/img/btw21-uu-josef-reichardt_ausfuellanleitung.jpg')"
                        alt="Ausfüllanleitung"
                        class="elevation-3"
                        :max-width="952"
                      />
                    </div>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-divider class="my-5" />
              Wenn du die Formulare selber ausdruckst, sende diese bite an folgende Adresse:
              <address>
                Josef Reichardt<br>
                Tulpenstr. 8<br>
                94469 Deggendorf
              </address>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      over18: true,
      deg: true,
      bayern: true,
      imageDialog: false
    }
  },
  watch: {
    $route () {
      this.imageDialog = this.$route.query.dialog === 'ausfuellanleitung'
    },
    imageDialog () {
      if (!this.imageDialog && this.$route.query.dialog === 'ausfuellanleitung') {
        this.$router.push({ query: { dialog: undefined } })
      }
    }
  },
  mounted () {
    this.imageDialog = this.$route.query.dialog === 'ausfuellanleitung'
  }
}
</script>
<style lang="scss" scoped>
address {
  font-style: normal;
  font-weight: bold;
  margin: 0.5rem 1rem;
}
</style>
