<template>
  <v-container fluid class="neumorphism-wrapper">
    <v-container>
      <v-row>
        <v-col cols="12" sm="6">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="green" x-large>
                  mdi-tree-outline
                </v-icon>
                Nach&shy;haltiger Umwelt&shy;schutz
              </h2>
            </v-card-title>
            <v-card-text>
              <p>
                Die Erd&shy;erwärmung schreitet immer weiter voran und irreparable Schäden an der Natur sind zu
                erwarten.
                Ohne intakte Umwelt und ein intaktes Klima steht der Lebens&shy;raum Erde auf dem Spiel. Nach&shy;haltig&shy;keit
                muss als Staats&shy;ziel etabliert werden. Dazu brauchen wir ein ziel&shy;gerichtetes, wissen&shy;schaft&shy;liches
                und effektives Vor&shy;gehen.
              </p>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="teal" x-large>
                  mdi-cash-multiple
                </v-icon>
                Bedingungs&shy;loses Grund&shy;ein&shy;kom&shy;men
              </h2>
            </v-card-title>
            <v-card-text>
              <p>
                Was würdest du tun, wenn für dein Ein&shy;kommen ge&shy;sorgt wäre? Durch die Ein&shy;führ&shy;ung eines
                be&shy;ding&shy;ungs&shy;loses Grund&shy;ein&shy;kommen könnte jeder Mensch ein freies und selbst&shy;bestimmtes
                Leben führen. Viele Studien belegen, dass es rech&shy;nerisch und wirt&shy;schaft&shy;lich mach&shy;bar
                ist. So ließe sich die Schere zwischen Arm und Reich aktiv be&shy;kämpfen, die so&shy;ziale
                Ge&shy;recht&shy;ig&shy;keit er&shy;höhen und Alters&shy;armut ver&shy;hin&shy;dern.
              </p>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="red darken-3" x-large>
                  mdi-medical-bag
                </v-icon>
                Gesund&shy;heit und Pflege
              </h2>
            </v-card-title>
            <v-card-text>
              <p>
                Unser Gesund&shy;heits&shy;system bietet eine solide Basis auf der wir aufbauen sollten. Sowohl bei der
                Aus&shy;rüstung, als auch beim Personal gibt es aller&shy;dings noch großes Potential. Unsere Kranken&shy;häuser
                sowie Pflege- und Forsch&shy;ungs&shy;ein&shy;richt&shy;ungen müssen auf den aktu&shy;ellen Stand ge&shy;bracht
                und Ge&shy;hälter in allen Pflege&shy;be&shy;rufen auf ein in der Wirt&shy;schaft ver&shy;gleich&shy;bares
                Niveau an&shy;ge&shy;hoben werden.
              </p>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="orange" x-large>
                  mdi-ethernet-cable
                </v-icon>
                Breit&shy;band&shy;aus&shy;bau
              </h2>
            </v-card-title>
            <v-card-text>
              <p>
                Nicht nur beim Home&shy;schooling wird sicht&shy;bar, wie wich&shy;tig ein funk&shy;tion&shy;ieren&shy;des,
                sta&shy;biles und schnelles Inter&shy;net ist. So&shy;wohl in der Bil&shy;dung, als auch im Ar&shy;beits&shy;um&shy;feld
                wird das Ar&shy;beiten von zu Hause immer wich&shy;tiger. Ein zeit&shy;gemäßer Inter&shy;net&shy;an&shy;schluss
                muss für alle Bür&shy;ger:innen sicher&shy;ge&shy;stellt werden. Die posi&shy;tiven
                Um&shy;welt&shy;aus&shy;wirkung&shy;en durch Home&shy;office sind dabei ein nicht zu
                ver&shy;achtender Neben&shy;effekt.
              </p>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="deep-orange" x-large>
                  mdi-shield-account-outline
                </v-icon>
                Pri&shy;vat&shy;sphä&shy;re
              </h2>
            </v-card-title>
            <v-card-text>
              <p>
                Egal ob Massen&shy;über&shy;wach&shy;ung von Messenger-Diens&shy;ten wie Whats&shy;App, au&shy;to&shy;mati&shy;sier&shy;ter
                Ab&shy;gleich sowie Track&shy;ing von Kfz-Kenn&shy;zeichen oder flächen&shy;deck&shy;ende Vi&shy;deo&shy;über&shy;wach&shy;ung
                mit Ge&shy;sichts&shy;er&shy;kennung, immer wieder werden die Privat&shy;sphäre und die per&shy;sön&shy;lich&shy;en
                Daten aller Bürger:innen bedroht. Da&shy;gegen müssen wir uns zur Wehr setzen.
              </p>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="purple" x-large>
                  mdi-help-circle-outline
                </v-icon>
                Du willst mehr erfahren?
              </h2>
            </v-card-title>
            <v-card-text>
              <p class="mb-2">
                Unser voll&shy;ständig&shy;es Wahl&shy;pro&shy;gramm zur Bundes&shy;tags&shy;wahl 2021 findest du hier:
              </p>
              <ul>
                <li>
                  <a
                    href="https://wiki.piratenpartei.de/Bundestagswahl_2021/Wahlprogramm"
                    target="_blank"
                    class="secondary--text"
                  >Wahl&shy;pro&shy;gramm im Piraten-Wiki</a>
                </li>
                <li>
                  <a
                    href="https://wiki.piratenpartei.de/wiki/images/9/9e/Wahlprogramm_zur_Bundestagswahl_2021_der_Piratenpartei_Deutschland.pdf"
                    target="_blank"
                    class="secondary--text"
                  >Wahl&shy;pro&shy;gramm als PDF</a>
                </li>
              </ul>
              <p class="mt-3 mb-2">
                Außerdem kannst du dich auf den Sei&shy;ten unserer ver&shy;schiedenen Glieder&shy;ungen über wei&shy;tere
                The&shy;men infor&shy;mieren:
              </p>
              <ul>
                <li>
                  <a
                    href="https://piratenpartei-bayern.de/"
                    target="_blank"
                    class="secondary--text"
                  >Landesverband Bayern</a>
                </li>
                <li>
                  <a
                    href="https://piratenpartei.de/"
                    target="_blank"
                    class="secondary--text"
                  >Piratenpartei Deutschland</a>
                </li>
                <li>
                  <a
                    href="https://european-pirateparty.eu/"
                    target="_blank"
                    class="secondary--text"
                  >European Pirates</a>
                </li>
                <li>
                  <a
                    href="https://pp-international.net/"
                    target="_blank"
                    class="secondary--text"
                  >Pirate Parties International</a>
                </li>
              </ul>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-card rounded="xl" class="neumorphism">
            <v-card-title>
              <h2>
                <v-icon color="deep-purple" x-large>
                  mdi-account-outline
                </v-icon>
                Über unseren Direkt&shy;kandi&shy;daten
              </h2>
            </v-card-title>
            <v-card-text>
              <p>
                Mein Name ist <strong>Josef Reichardt</strong>, ich bin 35 Jahre alt und arbeite als
                Soft&shy;ware&shy;ent&shy;wick&shy;ler im Be&shy;reich eGover&shy;nment. Ich wohne in Deggen&shy;dorf im
                Stadt&shy;teil Retten&shy;bach. Vor Ort engagiere ich mich für den Umwelt- und Klima&shy;schutz sowie
                für
                eine tolerante und welt&shy;offene Hei&shy;mat. Außer&shy;dem bin ich seit 2019 Themen&shy;beauf&shy;tragter
                für Umwelt der Piraten&shy;partei Bayern.
              </p>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
<script>
export default {}
</script>
