@import '@mdi/font/css/materialdesignicons.css';
@import "dejavu-sans/css/dejavu-sans.css";
@import "./politics-head.css";

h1,
h2,
h3,
h4 {
  font-family: "PoliticsHead", sans-serif;
}

.neumorphism-wrapper,
div.container.neumorphism-wrapper[class] {
  background-color: #e0e0e0;
  padding: 30px;

  .v-card {
    background: #e0e0e0;
  }
}

.neumorphism,
div.v-card.neumorphism[class] {
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #fff;
}

.v-card__title[class] h1,
.v-card__title[class] h2,
.v-card__title[class] h3,
.v-card__title[class] h4,
.v-card__text[class] p {
  word-break: break-word;
  overflow-wrap: break-word;
}

.v-card__title[class] h2 .v-icon {
  vertical-align: middle;
}

.v-card__text[class] p {
  text-align: justify;
}

.v-footer .v-btn--fab[class] {
  box-shadow: 3px 3px 3px #1f1f1f, -3px -3px 3px #2f2f2f;
}
