@font-face {
  font-family: 'PoliticsHead';
  src: url('~assets/fonts/politicshead/PoliticsHead-Bold.eot');

  /* @formatter:off */
  src:
    url('~assets/fonts/politicshead/PoliticsHead-Bold.woff2') format('woff2'),
    url('~assets/fonts/politicshead/PoliticsHead-Bold.woff') format('woff'),
    url('~assets/fonts/politicshead/PoliticsHead-Bold.ttf') format('truetype'),
    url('~assets/fonts/politicshead/PoliticsHead-Bold.svg#PoliticsHead-Bold') format('svg'),
    url('~assets/fonts/politicshead/PoliticsHead-Bold.eot?#iefix') format('embedded-opentype');

  /* @formatter:on */
  font-weight: normal;
  font-style: normal;
}
