<template>
  <v-app>
    <v-main>
      <v-container fluid class="pa-0">
        <nuxt />
      </v-container>
    </v-main>
    <p-footer />
  </v-app>
</template>
<script>
import PFooter from '~/components/p-footer.vue'

export default {
  components: {
    PFooter
  }
}
</script>
