<template>
  <v-container>
    <v-card>
      <v-card-title class="justify-center">
        <h1 v-if="error.statusCode === 404" class="text-center">
          {{ pageNotFound }}
        </h1>
        <h1 v-else class="text-center">
          {{ otherError }}
        </h1>
      </v-card-title>
      <v-card-text>
        <p v-if="error.statusCode === 404" class="text-center">
          Die aufgerufene Seite wurde leider nicht gefunden.
        </p>
        <p v-else class="text-center">
          Leider ist ein Fehler aufgetreten, der dazu geführt hat, dass die Seite nicht angezeigt werden kann.
        </p>
        <p class="text-center">
          <NuxtLink to="/">
            Zurück zur Startseite
          </NuxtLink>
        </p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 – Seite nicht gefunden',
      otherError: 'Ein Fehler ist aufgetreten'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>
