<template>
  <div>
    <p-intro :window-width="width" :window-height="height" />
    <p-topics />
  </div>
</template>
<script>
import PContact from '~/components/p-contact.vue'
import PIntro from '~/components/p-intro.vue'
import PSupport from '~/components/p-support.vue'
import PTopics from '~/components/p-topics.vue'

export default {
  components: {
    PIntro,
    PSupport,
    PTopics,
    PContact
  },
  data () {
    return {
      width: 1000,
      height: 1000
    }
  },
  head () {
    // twitter:card
    return {
      title: 'Josef Reichardt - Direktkandidat',
      meta: [{
        hid: 'meta-og-title',
        property: 'og:title',
        content: 'Josef Reichardt - Direktkandidat - Piratenpartei Deggendorf'
      }, {
        hid: 'meta-og-description',
        property: 'og:description',
        content: 'Direktkandidat der Piratenpartei für den Wahlkreis Deggendorf: Josef Reichardt' +
          ' » Hilf uns jetzt mit deiner Unterstützungsunterschrift'
      }, {
        hid: 'meta-og-image',
        property: 'og:image',
        content: `https://www.piratenpartei-deggendorf.de${require('~/assets/img/og-josef-reichardt-piratenpartei.jpg')}`
      }, {
        hid: 'meta-og-url',
        property: 'og:url',
        content: 'https://www.piratenpartei-deggendorf.de/'
      }, {
        hid: 'meta-twitter-card',
        name: 'twitter:card',
        content: 'summary_large_image'
      }, {
        hid: 'meta-twitter-site',
        name: 'twitter:site',
        content: '@piraten_ndb'
      }, {
        hid: 'meta-twitter-creator',
        name: 'twitter:creator',
        content: '@_Cpt_S_'
      }]
    }
  },
  mounted () {
    window.addEventListener('resize', this.onResize)
    this.onResize()
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    onResize () {
      this.width = Math.min(1785, window.innerWidth)
      this.height = Math.min(1000, window.innerHeight)
    }
  }
}
</script>
